@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

:root{
  --brand-primary: #3FA9F5; /* logo blue */
  --brand-accent:  #E1251A; /* logo red */
}

*{
  font-family: "Outfit", sans-serif;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
  input:not([type="checkbox"]){
    @apply outline-none focus:ring border border-gray-300 focus:ring-[var(--brand-primary)] focus:border-[var(--brand-primary)] rounded-lg;
  }
  textarea {
    @apply outline-none focus:ring border border-gray-300 focus:ring-[var(--brand-primary)] focus:border-[var(--brand-primary)] rounded-lg resize-none;
  }
}








